<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="TileFactory" name="TileFactory" schema="schema/TileFactory.exsd"/>
   <extension-point id="Overlay" name="Overlay" schema="schema/Overlay.exsd"/>
     <extension
         point="org.eclipse.ui.preferencePages">
        <page
              class="net.skweez.geoclipse.map.preferences.PrefPageMap"
              id="net.skweez.geoclipse.preferences.map"
              name="%PREF_PAGE_MAP">
        </page>
      <page
            category="net.skweez.geoclipse.preferences.map"
            class="net.skweez.geoclipse.map.preferences.PrefPageCache"
            id="net.skweez.geoclipse.preferences.PrefPageCache"
            name="%PREF_PAGE_CACHE">
      </page>
      <page
            category="net.skweez.geoclipse.preferences.map"
            class="net.skweez.geoclipse.map.preferences.PrefPageMapFactories"
            id="net.skweez.geoclipse.preferences.PrefPageMapFactories"
            name="%PREF_PAGE_PROVIDER">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.skweez.geoclipse.map.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="net.skweez.geoclipse.mapcategory"
            class="net.skweez.geoclipse.map.MapViewPart"
            icon="icons/map.png"
            id="net.skweez.geoclipse.mapview"
            name="Map"/>
      <category
            id="net.skweez.geoclipse.mapcategory"
            name="Geoclipse"/>
   </extension>
   <extension
         point="net.skweez.geoclipse.TileFactory">
      <tilefactory
            class="net.skweez.geoclipse.map.tilefactories.internal.OsmMapnikFactory"
            name="OsmMapnikFactory"/>
   </extension>
   <extension
         point="net.skweez.geoclipse.TileFactory">
      <tilefactory
            class="net.skweez.geoclipse.map.tilefactories.internal.OsmCycleFactory"
            name="OsmCycleFactory"/>
   </extension>
   <extension
         point="net.skweez.geoclipse.TileFactory">
      <tilefactory
            class="net.skweez.geoclipse.map.tilefactories.internal.OsmTilesAtHomeFactory"
            name="OsmTilesAtHomeFactory"/>
   </extension>
   <extension
         point="net.skweez.geoclipse.TileFactory">
      <tilefactory
            class="net.skweez.geoclipse.map.tilefactories.internal.OpenStreetBrowserFactory"
            name="OpenStreetBrowserFactory"/>
   </extension>
</plugin>
